@import "../../utilities/variables";

.imain{
    .nav-link{
        color: $text !important;
        transition: border-bottom-color ease-in-out 0.2s;
        border: transparent !important;
    }
    .nav-link.active, .nav-link:hover{
        /* hover animation swipe border in left to right?*/
        background-color: $bg !important;
        color: $text !important;
        border-bottom: 1px solid $text !important;
    }
}
