<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8" />
		<title></title>
		<style>
			[v-cloak]{
				display: none;
			}
		</style>
	</head>
	<body>
		<script src="https://unpkg.com/vue@3"></script>
		<div style="cursor:pointer" id="app" onclick="count++" v-cloak> 
			{{ message }} 
			{{ count }} 
			<input v-model="message" />
			<br/>
			<div v-if="isVisible" class="box"></div>
			<navbar/>
		</div>
		<script>
			let app = Vue.createApp({
				data() {
				return {
				  message: 'Hello Vue!',
				  isVisible: true,
				  count: 0
				}
			  }
			})

			app.component('navbar', {
				template: `
					<div>
						Hello world
					</div>
				`
			})

			app.mount('#app')
		  </script>
	</body>
</html>
