@import "../../utilities/variables.scss";

.icard{
    margin-top: $spacing-5;
    margin-bottom: $spacing-5;
    height: 400px;
    .icardcaption{
        padding: $spacing-5;

        .icardtitle:hover{
            cursor: pointer;
            text-shadow: 0px 0px 10px white;
        }
    }
}
