@import "../../utilities/variables.scss";

.icard{
    display: flex;
    margin-top: $spacing-5;
    margin-bottom: $spacing-5;
    height: 400px;
    
    img{
       width: 35%; 
    }
    
    .icardcaption{
        width: 65%;
        padding: $spacing-5;
        text-align: center;


        .icardtitle:hover{
            cursor: pointer;
            text-shadow: 0px 0px 10px white;
        }
    }
}
