@import "~bootstrap/scss/bootstrap";
@import "./utilities/variables.scss";

#root, .App {
	height: 100vh;
	overflow: auto; /*prevents margin styles of children from applying to root*/
	overflow-y: scroll;
	background-color: $bg
}

.App{
	display: grid;
	grid-template-rows: 15% 70% 15%;

	.imain {
		color: $text;
		margin-top: auto;
		margin-bottom: auto;
		padding-left: 115px;
		padding-right: 115px;
	}
}

.navbar-nav .nav-link.active{
	color: rgba(255, 255, 255, 0.55) !important; /* stops icon from remaining white when clicked*/
}

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: $bg;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: $text;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: $text-2;
}
